name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */24 * * *"   # every 24 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: muhib876069
          outputs: |
            dist/snake-dark.svg
            dist/snake-neon.svg
            dist/snake-rainbow.svg

      - name: Push snake animation
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
